# Next.js
node_modules/
.next/
out/
build/
.vercel

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
.pytest_cache/

# Data / Outputs
backend/outputs/
backend/temp/
backend/highlights/
backend/frames/
backend/data/

# OS
.DS_Store
Thumbs.db

# Docker
.docker
db-data/
redis-data/
chroma-data/

# Env
.env*
!.env.example

*.pt
*.mp4
*.wav